
.information{

    height: 100px;
    border-radius: 7px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}


.btc{
    background-color: #926319;
    border: 2px solid #ff9900;
}


.btcColor{
    box-shadow:
            inset 0 0 0 0 #926319,
            inset 0 0 0 16px #ff9900,
            0 1px 2px rgba(0,0,0,0.1);
}


.currencyRBtc:active {
    box-shadow: inset 0 0 0 110px rgba(200, 95, 66, 0.4),
    inset 0 0 0 16px rgba(255, 255, 255, 0.8),
    0 1px 2px rgba(0, 0, 0, 0.1);
}


.dash{
    background-color: #275e8c;
    border: 2px solid #278ee5;
}

.dashColor{
    box-shadow:
            inset 0 0 0 0 #275e8c;,
            inset 0 0 0 16px #278ee5;,
            0 1px 2px rgba(0,0,0,0.1);
}

.currencyRDash:active {
    box-shadow: inset 0 0 0 110px #275e8c,
    inset 0 0 0 16px #278ee5,
    0 1px 2px rgba(0, 0, 0, 0.1);
}


.eth{
    background-color: #7f8385;
    border: 2px solid #d8d8d8;
}


.ethColor{
    box-shadow:
            inset 0 0 0 0 #7f8385,
            inset 0 0 0 16px #d8d8d8,
            0 1px 2px rgba(0,0,0,0.1);
}


.currencyREth:active {
    box-shadow: inset 0 0 0 110px #7f8385,
    inset 0 0 0 16px #d8d8d8,
    0 1px 2px rgba(0, 0, 0, 0.1);
}

ltc{
    background-color: #6b6e70;
    border: 2px solid #aeaeae;
}


ltcColor{
    box-shadow:
            inset 0 0 0 0 #6b6e70,
            inset 0 0 0 16px #aeaeae,
            0 1px 2px rgba(0,0,0,0.1);
}

.currencyRLtc:active {
    box-shadow: inset 0 0 0 110px #6b6e70,
    inset 0 0 0 16px #aeaeae,
    0 1px 2px rgba(0, 0, 0, 0.1);
}



.information:hover{
    border: 3px solid #ff9900;
    width: 98%;
    transition: all 0.4s ease-in-out;
}


.information img{
    display: block;
    height: 100px;
    float: left;
    margin-left: 2%;
}

.more{
    float: left;
    font-size: 1.3em;
    color: aliceblue;
    margin-left: 30px;
}

.money{
    margin-top: 10px;
    float: right;
    margin-left: 300px ;
}

.info{
    float:left;
    margin-top: 10px;
}




.refresh {
    float: right;
    margin-right:2%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.currency {
    background-size: 100%;
    width: 100px;
    height: 100px;
}

.currencyRBtc {
    background-image: url(../img/btcR.png);
}

.currencyRLtc {
    background-image: url(../img/ltcR.png);
}

.currencyREth {
    background-image: url(../img/ethR.png);
}

.currencyRDash {
    background-image: url(../img/dashR.png);
}


.location{
    display: block;
    float: left;
    margin-left: 2%;
}


.currencyBtc{
    background-image: url(../img/btc.png);

}

.currencyLtc{
    background-image: url(../img/ltc.png);
}

.currencyDash{
    background-image: url(../img/dash.png);
}

.currencyEth{
    background-image: url(../img/eth.png);
}





/*adder styles*/



.adder{
    border: 2px solid #3d4347;
    background-color: #282f34;
    height: 120px;
    border-radius: 7px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.adder:hover{
    border: 3px solid #3d4347;
    width: 98%;
    transition: all 0.4s ease-in-out;
}


.newAddress{
    font-size: 1.5em;
    float:left;
    margin-top: 40px;
    width: 700px;
    margin-left: 100px;
}










.ch-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    cursor: default;

    float:right;
    margin-right: 200px;
    margin-top: 10px;
}

.ch-info-wrap,
.ch-info{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ch-info-wrap {
    background: #282f34 url(../img/add.png);
    background-size: 100%;


}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center center;

}



.ch-info .ch-info-back {
    opacity: 0;

    background: #282f34;
    pointer-events: none;

    transform: scale(1.5);

    transition: all 0.1s ease-in-out 0.1s;
}



.ch-info h1 {
    color: #000000;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font-size: 2em;
    margin: -6px 38px;

    padding: 40px 0 0 0;
    height: 80px;
    font-family: Arial, sans-serif;
    text-shadow:
            0 0 1px #000000,
            0 1px 2px aliceblue;
}

.ch-item:active .ch-info-front {
    transform: scale(0);

    opacity: 0;
}

.ch-item:active .ch-info-back {
    transform: scale(1);

    opacity: 1;
    pointer-events: auto;
}





