


.Down{
    margin-top: 100px;
}

.DownDown{
    margin-top: 250px;
}

.Up{
    margin-top: 0px;
}


.btc{
    background-color: #926319;
    border: 2px solid #ff9900;
    color: #ff9900;
}

.btcLogo{
    background-image: url("../img/btc .png");
    background-size: 100%;
}


.dash{
    background-color: #275e8c;
    border: 2px solid #278ee5;
    color:#278ee5;
}

.dashLogo{
    background-image: url("../img/dash.png");
    background-size: 100%;
}



.eth{
    background-color: #7f8385;
    border: 2px solid #d8d8d8;
    color:#d8d8d8
}

.ethLogo{
    background-image: url("../img/eth.png");
    background-size: 100%;
}




.ltc{
    background-color: #6b6e70;
    border: 2px solid #aeaeae;
    color: #aeaeae;
}

.ltcLogo{
    background-image: url("../img/ltc.png");
    background-size: 100%;
}



.block{
    height: 100px;
    border-radius: 7px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.2em;
}

.block:hover{
    border-style: solid;
    border-width: 3px;

    width: 98%;
    transition: all 0.4s ease-in-out;
}


.currencyLogo{
    height: 96px;
    width: 96px;
    float: left;
    margin-left: 2%;
    margin-top: 2px;
}

.money{
    margin-top: 10px;
    float: left;
    margin-right: 200px;

}

.info{
    float: left;
    margin-top: 10px;
    width: 500px;
    margin-left: 70px;
}

.br1{
    font-size: 50px;
}

.br2{
    font-size: 27px;
}

.delta{
    color: green;
}


.refresh {
    float: right;
    margin-right: 2%;
    background-image: url(../img/reload.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
}

.refresh:hover{
    transform: rotate(-360deg) scale(1.2);
    transform:rotate(-360deg);
    -ms-transform:rotate(-360deg); /* IE 9 */
    -moz-transform:rotate(-360deg); /* Firefox */
    -webkit-transform:rotate(-360deg); /* Safari and Chrome */
    -o-transform:rotate(-360deg); /* Opera */
    transition: all 0.5s ease-in-out;
}

.refresh:active{
    margin-top: 27px;
    transition: all 0.3s ease-in-out;
}







/*adder styles*/



.adder{
    border: 2px solid #3d4347;
    background-color: #282f34;
    height: 120px;
    border-radius: 7px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.adder:hover{
    border: 3px solid #3d4347;
    width: 98%;
    transition: all 0.4s ease-in-out;
}


.newAddress{
    font-size: 1.5em;
    float:left;
    margin-top: 40px;
    width: 800px;
    margin-left: 100px;
}

.plus{
    float: left;
    margin-left: 100px;
    background-image: url(../img/plus.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-top: 33px;
    cursor: pointer;
}


.plus:hover{
    transform: rotate(-360deg) scale(1.2);
    transform:rotate(-360deg);
    -ms-transform:rotate(-360deg); /* IE 9 */
    -moz-transform:rotate(-360deg); /* Firefox */
    -webkit-transform:rotate(-360deg); /* Safari and Chrome */
    -o-transform:rotate(-360deg); /* Opera */
    transition: all 0.5s ease-in-out;
}

.plus:active{
    margin-top: 27px;
    transition: all 0.3s ease-in-out;
}

















